@media all and (min-width: 400px){
*{
	padding: 0;
	margin: 0;
}
.navbar{
	display: inline-flex;
}
.navbar img{
	height: 10vh;
	padding-left: 70px;
	padding-top: 20px;
}
.navbar h3{
	padding-top: 40px;
	padding-left: 20px;
	color: blue;
	font-family: montserat ;
	font-size: 28px;
}
.navs{
	display: inline-flex;
	margin-left: 100px;
}
.navs a{
	padding-top: 40px;
	padding-left: 50px;
	text-decoration: none;
	font-family: monospace;
	font-size: 22px;
}
.navs a:hover{
	text-decoration: underline;
	text-decoration-color: royalblue;
}
.login{
	background-color: white;
	margin-top: 38px;
	margin-left: 60px;
	height: 5vh;
	width: 80px;
	color: royalblue;
	border: 2px solid royalblue;
	border-radius: 3px;
}
.login:hover{
	text-decoration: underline;
	border: none;
	cursor: pointer;
}
.join{
	background-color: royalblue;
	margin-top: 38px;
	margin-left: 60px;
	height: 5vh;
	width: 80px;
	color: white;
	border: 2px solid royalblue;
	border-radius: 3px;
}
.join:hover{
	text-decoration: underline;
	border: none;
	cursor: pointer;
}
.hero{
	/* border: 1px solid red; */
	display: inline-flex;
	margin-top: 40px;
	margin-left: 150px;
	width: 80%;
	margin-right: 10px;
	height: 65vh;
}
.welcome{
	/* border: 1px solid blue; */
	padding-top: 70px;
	width: 40%;
}
.welcome h2{
	color: rgba(109, 142, 240, 0.823);
	font-size: 32px;
}
.welcome b{
	color: rgb(21, 21, 155);
	font-size: 34px;
}
.welcome p{
	padding-top: 50px;
	font-size: 18px;
}
.patner{
	background-color: black;
	color: white;
	border-radius: 25px;
	height: 5vh;
	width: 150px;
	margin-top: 20px;
	margin-left: 10px;
}
.patner:hover{
	background-color: white;
	border: 1px solid black;
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
	cursor: pointer;
}
.heropics1{
	/* border: 1px solid yellow; */
	margin-left: 200px;
	width: 60%;
	height: 20vh;
}

.map img{
	margin-left: 110px;
	padding-top: 15px;
	float: left;
	height: 15vh;
	width: 200px;
}

.police img{
	float: right;
	margin-left: 3px;
	height: 17vh;
	width: 195px;
}
.safer img{
	float: left;
	padding-top: 5px;
	padding-left: 55px;
	height: 19vh;
	width: 265px;
}
.granny img{
	float: right;
	padding-top: 5px;
	margin-left: 3px;
	width: 185px;
	height: 23vh;
}
.meds img{
	float: left;
	height: 18vh;
	padding-top: 5px;
	margin-left: 46px;
	width: 130px;
}
.phone img{
	float: left;
	height: 20vh;
	padding-top: 5px;
	padding-left: 6px;
	width: 140px;
}
.looking img{
	float: right;
	width: 185px;
	padding-top: 5px;
	height: 18vh;
}
.steps{
	/* border: 1px solid blue; */
	margin-top: 80px;
	margin-left: 110px;
	margin-right: 10px;
	width: 80%;
	height: 40vh;
}
.steps h2{
	text-align: center;
	color: rgba(7, 7, 131, 0.912);
}

.pics{
	margin-top: 50px;
	display: flex;
	height: 20vh;
}
#download{
	padding-left: 200px;
	text-align: center;
	width: 150px;
}
#download h3{
	padding-top: 10px;
	font-size: 22px;
	color: rgba(7, 7, 131, 0.912);
}
#download img{
	width: 100px;
	height: 10vh;
}
#download small{
	font-size: 15px;
	padding-top: 10px;
	color: royalblue;
}
#mobile{
	padding-left: 100px;
	text-align: center;
	width: 150px;
}
#mobile h3{
	padding-top: 10px;
	font-size: 22px;
	color: rgba(7, 7, 131, 0.912);
}
#mobile img{
	width: 60px;
	height: 10vh;
}
#mobile small{
	font-size: 15px;
	padding-top: 10px;
	color: royalblue;
}
#trust{
	padding-left: 100px;
	text-align: center;
	width: 150px;
}
#trust h3{
	padding-top: 10px;
	font-size: 22px;
	color: rgba(7, 7, 131, 0.912);
}
#trust img{
	width: 100px;
	height: 10vh;
}
#trust small{
	font-size: 15px;
	padding-top: 10px;
	color: royalblue;
}
.bodytext{
	background-image: url('picture/path.png');
	background-size: contain;
	background-repeat: no-repeat;
	/* border: 1px solid black; */
	height: 100vh;
}
.problem{
	width: 400px;
	margin-left: 809px;
}
.problem h2{
	font-size: 32px;
	padding-top: 120px;
	text-align: right;
	padding-right: 84px;
	color: rgb(50, 76, 155);
}
.problem p{
	padding-top: 20px;
	padding-right: 30px;
	color: royalblue;
	font-size: 22px;
}
.solution{
	/* border: 1px solid red; */
	width: 400px;
	margin-left: 146px;
}
.solution h2{
	font-size: 32px;
	padding-top: 3px;
	text-align: left;
	padding-left: 30px;
	color: rgb(50, 76, 155);
}
.solution p{
	padding-top: 20px;
	padding-left: 0px;
	color: royalblue;
	font-size: 22px;
}
.empty{
	margin-left: 150px;
	margin-top: 10px;
	width: 1000px;
	height: 25vh;
	background-color: rgb(89, 85, 85);
}
.appd{
    border: 0.1px solid white; 
    margin-top: 10px;
}
.appdd{
    float: right;
    margin-right: 50px;
}
.appdd img{
    width: 500px;
    height: 100hv;
}
.appddbg{
    width: 1345px;
    height: 57vh;
    background-image: url('picture/rectangle.png');
    background-size: cover;
    margin-top: 75px;
}
.appdownload{
	/* border: 1px solid red; */
	margin-left: 90px;
	margin-top: 10px;
	width: 450px;
}
.appdownload img{
    padding-top: 30px;
	padding-left: 150px;
	width: 130px;
	height: 25vh;
}
.appdownload h4{
	font-size: 34px;
	color: white;
	padding-left: 40px;
}
.buttons {
	display: flex;
	padding-top: 20px;
	padding-left: 50px;
}
.buttons button{
	background-color: black;
	color: white;
	border-radius: 25px;
	height: 6vh;
	width: 120px;
	margin-top: 20px;
	margin-left: 30px;
}
/* /* .buttons button img{
	height: 2vh;
	width: 5px;
} */
.buttons button:hover{
	background-color: white;
	border: 1px solid black;
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
	cursor: pointer;
}
.appdownload p{
	padding-left: 60px;
	padding-top: 10px;
	color: white;
	text-align: center;
	font-size: small;
	width: 300px;
}
.screenshot{
	background-image: url('picture/path2.png');
	background-size: 900px;
	background-repeat: no-repeat;
	height: 335vh;
	width: 1250px;
	/* border: 0.1px solid black;  */
	margin-left: 90px;
}
.screenshot1{
	display: flex;
	/* border: 1px solid black; */
	/* height: 50vh; */
}
#sc{
	text-align: center;
	color: grey;
	font-size: 64px;
	padding-top: 20px;
	padding-left: 50px;
}
.onboarding{
	/* border: 0.1px solid red; */
	padding-top: 100px;
	width: 400px;
	color: royalblue;
}
.onboarding h2{
	color: royalblue;
	font-size: 22px;
	text-align: left;

}
.onboardingimg{
	display: flex;
	/* border: 1px solid yellow; */
	margin-left: 70px;
}
.onboardingimg img{
	height: 40vh;
	width: 130px;
	padding-left: 10px;
	padding-top: 20px;
}
.screenshot2{
	display: flex;
	margin-top: 150px;
	/* border: 1px solid black; */
	/* height: 50vh; */
}
.onboarding2{
	/* border: 0.1px solid red; */
	padding-top: 100px;
	margin-left: 250px;
	width: 300px;
	color: royalblue;
}
.onboarding2 h2{
	color: royalblue;
	font-size: 22px;
	text-align: left;

}
.onboarding2img{
	display: flex;
	/* border: 1px solid yellow; */
	margin-left: 10px;
}
.onboarding2img img{
	height: 60vh;
	width: 190px;
	padding-left: 30px;
	padding-top: 20px;
}
.screenshot3{
	display: flex;
	margin-top: 150px;
	/* border: 1px solid black; */
	/* height: 50vh; */
}
.onboarding3{
	/* border: 0.1px solid red; */
	padding-top: 100px;
	width: 350px;
	color: royalblue;
}
.onboarding3 h2{
	color: royalblue;
	font-size: 22px;
	text-align: left;

}
.onboarding3img{
	display: flex;
	/* border: 1px solid yellow; */
	margin-left: 250px;
}
.onboarding3img img{
	height: 40vh;
	width: 130px;
	padding-left: 10px;
	padding-top: 20px;
}
}
@media all and (max-width: 400px) {
	.navbar{
		width: auto;
	}
	.navs{
		display:none;
		visibility: hidden;
	}
	.login{
		width: 50px;
	}
	.join{
		width: 50px;
		margin-left: 20px;
	}
	.heropics1{
		display: none;
		visibility: hidden;
	}
	.hero{
		/* border: 1px solid red; */
		display: block;
		margin-top: 40px;
		margin-left: 60px;
		width: auto;
		margin-right: 10px;
		height: 65vh;
	}
	.welcome{
		padding-top: 40px;
		width: auto;
	}
	.steps{
		/* border: 1px solid blue; */
		margin-top: 80px;
		margin-left: 40px;
		width: auto;
		height: 40vh;
	}
	.steps h2{
		text-align: center;
		color: rgba(7, 7, 131, 0.912);
	}
	.pics{
		margin-top: 50px;
		display: block;
		height: 20vh;
	}
	#download{
		padding-left: 20px;
		text-align: center;
		width: auto;
	}
	#download small{
		font-size: 15px;
		padding-top: 3px;
		color: royalblue;
	}
	#mobile{
		margin-top: 50px;
		padding-left: 20px;
		text-align: center;
		width: auto;
	}
	#mobile small{
		font-size: 15px;
		padding-top: 3px;
		color: royalblue;
	}
	#trust{
		margin-top: 50px;
		padding-left: 20px;
		text-align: center;
		width: auto;
	}

	#trust small{
		font-size: 15px;
		padding-top: 3px;
		color: royalblue;
	}
	.bodytext{
		margin-top: 400px;
		width: auto;
		height: auto;
		background-image: cover;
	}
	.problem{
		width: auto;
		margin-left: 50px;
	}
	.problem h2{
		text-decoration: 3px underline;
		font-size: 28px;
		padding-top: 50px;
		text-align: left;
		color: rgb(50, 76, 155);
	}
	.problem p{
		background-color: rgba(255, 255, 254, 0.605);
		padding-top: 20px;
		color: black;
		font-size: 18px;
	}
	.solution{
		/* border: 1px solid red; */
		width: auto;
		margin-top: 20px;
		margin-left: 40px;
	}
	.solution h2{
		text-decoration: 3px underline;
		font-size: 28px;
		padding-top: 50px;
		color: rgb(50, 76, 155);
		padding-left: 0;
	}
	.solution p{
		padding-top: 20px;
		color: black;
		font-size: 18px;
	}
	.empty{
		margin-left: 20px;
		margin-top: 80px;
		width: 90%;
		height: 15vh;
		background-color: rgb(89, 85, 85);
	}
	.appdd{
		display: none;
		visibility: hidden;
	}
	/* .appdd img{
		display: none;
		visibility: hidden;
	} */
	.appddbg{
		width: auto;
		height: 45vh;
		background-image: url('picture/rectangle.png');
		background-size: cover;
		margin-top: 75px;
	}
	.appdownload{
		margin-left: 40px;
		margin-top: 10px;
		width: auto;
	}
	.appdownload img{
		padding-top: 30px;
		padding-left: 200px;
		width: auto;
		height: 10vh;
	}
	.appdownload h4{
		font-size: 34px;
		color: white;
		padding-left: 40px;
	}
	.buttons {
		display: flex;
		padding-top: 10px;
		padding-left: 50px;
	}
	.buttons button{
		background-color: black;
		color: white;
		border-radius: 25px;
		height: 6vh;
		width: 120px;
		margin-top: 20px;
		margin-left: 30px;
	}
	.screenshot{
		background-image: url('picture/path2.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 335vh;
		width: auto;
		/* border: 0.1px solid black;  */
		margin-left: 20px;
	}
	.screenshot1{
		display: block;
		/* border: 1px solid black; */
		/* height: 50vh; */
	}
	#sc{
		text-align: left;
		color: grey;
		font-size: 49px;
		padding-top: 20px;
		padding-left: 150px;
	}
	.onboarding{
		padding-top: 30px;
		width: 390px;
		padding-left: 60px;
		background-color: rgba(255, 255, 255, 0.811);
	}
	.onboardingimg{
		display: flex;
		margin-left: 10px;
	}
	.onboardingimg img{
		height: 30vh;
		width: 100px;
		padding-left: 10px;
		padding-top: 20px;
	}
	.screenshot2{
		display: block;
		margin-top: 150px;
		/* border: 1px solid black; */
		/* height: 50vh; */
	}
	.onboarding2{
		padding-top: 30px;
		width: 390px;
		padding-left: 20px;
		background-color: rgba(255, 255, 255, 0.811);
	}
	.onboarding2img{
		display: flex;
		/* border: 1px solid yellow; */
		margin-left: 10px;
	}
	.onboarding2img img{
		height: 60vh;
		width: 190px;
		padding-left: 30px;
		padding-top: 20px;
	}
}
